<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="h4">Cadastrar uma nova categoria</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-group">
                        <label for="title" class="label-control">Titulo</label>
                        <input id="title" name="title" type="text" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>