<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <% categories.forEach(category => { %>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <%= category.title %>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>